.logo__marvel{
    width: 80px;
    height: 80px;
}

.input__box{
    width: 80%;
    position: absolute;
    top: 30px;
    right: 100px;
}

.star__style{
    width: 20px;
    height: 80px;
    position: absolute;
    right: 50px;
}